<html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <mat-toolbar>
    <span>Digiverz Project</span>
    <span class="example-spacer"></span>
  
  </mat-toolbar>
  <div class="container">
    <h1>File Upload</h1>
    <mat-card class="card">
      <mat-form-field floatPlaceholder="never">
        <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept=".zip" #fileSelect>
        <input readonly matInput [(ngModel)]="filename" placeholder="Select file..." />
        <button *ngIf="this.file" (click)="deleteFile(); fileSelect.value='';" matSuffix
          matTooltip="Remove selected file" [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="fileSelect.click();" matTooltip="Select a file"
          [matTooltipPosition]="'above'">
          <mat-icon>file_upload</mat-icon>
        </button>
      </mat-form-field>
      <div class="navbutton">
        <button (click)="fileUpload()" mat-flat-button
          style="background-color: #3d973d; color: #ffff; min-height: 40px;">
          <span *ngIf="!showLoader">Send</span>
          <mat-spinner style="margin-left: 43%;" diameter="25" strokeWidth="4" *ngIf="showLoader"></mat-spinner>
        </button>
        <button (click)="editPage()" mat-flat-button
          style="background-color: #50abe7; color: #ffff; min-height: 40px;">
          <span *ngIf="!showLoader">Edit Resume</span>
          <mat-spinner style="margin-left: 43%;" diameter="25" strokeWidth="4" *ngIf="showLoader"></mat-spinner>
        </button>
      </div>
    </mat-card>
  </div>
</body>

</html>

<!-- 
<div className="MainDiv">
<div>Previous</div>
<app-edit-page></app-edit-page>
<div>Next</div>
</div> -->